#DIRECTORIES
.vs/
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.filters
*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.sdf
Intermediates/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
[Bb]in-int/